<div id='container'>
<!-- Your code here -->
  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create selected'>Shorten</a></li>
  </ul>
    <a href='#/logout' ng-click='Auth.signout()' class='logout'>Logout</a>
  </div>
  <div class='creator'>
    <form ng-submit='addLink()' ng-controller='ShortenController' name='addLinkForm'>
        <input class='text' type='text' required ng-pattern='rValidUrl' name='url' ng-model='link.url'>
        <input type='submit' ng-disabled="addLinkForm.$invalid" value='Shorten'>
      <img class='spinner' src='/spiffygif_46x46.gif'>
     <div class='message ng-hide'ng-show="addLinkForm.url.$invalid" >INVALID!</div>
    </form>
  </div>
</div>